<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Signin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>

  <div class="container">

    <div class="row">
      <div class="col-md-offset-4 col-md-4">

        <h3 class="text-muted"><a href="index.html">My Assemble Project</a></h3><br>

        {{>body}}

        <!-- Site footer -->
        <footer class="footer">
          <br>
          <p>&copy; Company 2014</p>
        </footer>

      </div>
    </div>

  </div> <!-- /container -->

</body>
</html>
