<!DOCTYPE html>
<html lang="en">
<head>
  {{> meta}}
  <title>Signin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>

  <div class="container">

    <div class="row">
      <div class="col-md-offset-4 col-md-4">

        <h3 class="text-muted"><a href="index.html">My Assemble Project</a></h3><br>

        {{>body}}

        <!-- Site footer -->
        {{> footer}}

      </div>
    </div>

  </div> <!-- /container -->

</body>
</html>
