<!DOCTYPE html>
<html lang="en">
<head>
  {{> meta}}
  <title>My Assemble Project</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>

  <div class="container">


    <h3 class="text-muted"><a href="index.html">My Assemble Project</a></h3><br>

    <!-- unique HTML for each part goes here -->
    {{> body}}

    <!-- Site footer -->
    {{> footer}}

  </div> <!-- /container -->

</body>
</html>
