<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Article 1</h1>
  <p class="text-danger">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque felis velit, laoreet vel varius ut, dignissim vel turpis. Pellentesque ac nibh a odio venenatis vestibulum. </p>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
</div>

<article>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque felis velit, laoreet vel varius ut, dignissim vel turpis. Pellentesque ac nibh a odio venenatis vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam bibendum sodales nisi quis tempus. Etiam efficitur vestibulum accumsan. Curabitur posuere eros venenatis mauris rutrum tristique. Aenean accumsan tellus sodales massa dignissim bibendum. Ut lacinia metus ornare volutpat euismod.
  </p>
  <p>
    In hac habitasse platea dictumst. Quisque interdum nisl at velit ornare, elementum consequat ligula ullamcorper. Suspendisse tristique justo eget sapien suscipit, id tristique arcu consequat. Quisque malesuada felis libero, in tempor metus mattis et. Sed volutpat eleifend feugiat. Nunc suscipit vel odio id aliquet. Sed et diam consequat orci viverra euismod non sit amet nisi. Integer mollis rutrum erat vel commodo. Pellentesque faucibus accumsan pulvinar. Ut tempus pharetra elit, id sollicitudin elit imperdiet eget. Integer sit amet lectus ac massa porta gravida. Suspendisse convallis, dui a aliquam dignissim, mi odio imperdiet magna, et sagittis orci augue et velit. Ut a massa commodo, cursus ex sit amet, eleifend lectus. Cras rhoncus quam libero, sit amet imperdiet ligula facilisis eget.
  </p>
  <p>
    Donec non hendrerit dolor. Mauris arcu sem, fermentum sit amet ex ut, feugiat suscipit diam. Nulla lobortis, magna vel molestie ultrices, purus lectus posuere diam, vel aliquet dui ante vel risus. Ut pretium ante ut tempus laoreet. Nam blandit nulla augue, at euismod lectus convallis non. Nunc diam purus, lacinia et fermentum non, congue at sapien. Aliquam sollicitudin pretium accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc fermentum urna vitae enim auctor, at elementum magna pharetra. Proin ante ligula, dignissim sit amet facilisis ac, pretium sed odio. Aliquam nec tellus posuere, pellentesque elit in, scelerisque augue. Vivamus condimentum lorem metus, vel tempus est hendrerit quis. Ut nec tincidunt felis, sit amet finibus ligula.
  </p>
</article>
